.barhead1{
    font-size: 18px;
    font-weight: 600;
    margin-left: 2.5rem;
}
.barhead2{
    font-size: 18px;
    font-weight: 600;
    margin-left: 3.6rem;
}
.barhead3{
    font-size: 18px;
    font-weight: 600;
    margin-left: 2rem;
}
.barhead4{
    font-size: 18px;
    font-weight: 600;
   
   
}
.barhead5{
    font-size: 18px;
    font-weight: 600;
    margin-right: 5rem;
   
}
.barhead6{
    font-size: 18px;
    font-weight: 600;
    margin-right: 1rem;
}